= form_for @transaction do |form|
  - if @transaction.id
    = form.select :account_id, Account.all.map{|a| [a.name, a.id]}
  - else
    = form.hidden_field :account_id
  = form.text_field :description, style: 'width: 25em;'
  = form.text_field  :date_year, style: 'width: 4em'
  = form.select :date_month, 1..12, style: 'width: 14em'
  = form.select :date_day, 1..31, style: 'width: 14em'
  = form.text_field :amount, style: 'width: 6em'
  = submit_tag @transaction.id ? 'Save' : 'Add'
