<!DOCTYPE html>
<html>
<head>
  <title>Saccs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="acount_list">
    <%= link_to 'Home', root_path %>
    <% @accounts.active.each do |ac| %>
      <%= link_to ac.name, account_path(ac.id) %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
