%h1
  %span#toggle_months{onclick: '$("#month_list, #toggle_months_open, #toggle_months_close").toggle()'}
    = @account.name
    = @month.name

    %span#toggle_months_open >
    %span#toggle_months_close v

#month_list
  - @account.months.order('name desc').each do |m|
    = link_to m.name, account_path(@account.id, month_id: m.id)
    %br

%div{style: "margin-top: 1em"}
  = render partial: '/transactions/form'

#balances
  = render partial: 'balances'

%table{border: 1, cellspacing: 0, cellpadding: 4}
  %tr
    %th Date
    %th Description
    %th Amount
    %th Cleared?
    %th &nbsp;
    %th &nbsp;

  - @month.transactions.each do |tr|
    %tr{id: "transaction_#{tr.id}"}
      = render :partial => 'transaction_row', locals: {tr: tr}